<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <servlet>
        <description>Search/Retrieve by URI</description>
        <servlet-name>SRUServlet</servlet-name>
        <servlet-class>org.xbib.sru.service.SRUServlet</servlet-class>
        <init-param>
            <param-name>version_1_1</param-name>
            <param-value>es-sru-response.xsl</param-value>
        </init-param>
        <init-param>
            <param-name>version_1_2</param-name>
            <param-value>es-sru-response.xsl</param-value>
        </init-param>
        <init-param>
            <param-name>version_2_0</param-name>
            <param-value>es-searchretrieve-response.xsl</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>SRUServlet</servlet-name>
        <url-pattern>/sru/*</url-pattern>
    </servlet-mapping>

</web-app>
