.idea/
.gradle/
*.iml
work/
/data/
logs/
.DS_Store
build/
target/


## eclipse ignores (use 'gradle eclipse' to build eclipse projects)
.project
.classpath
.settings
*/.project
*/.classpath
*/.settings
*/eclipse-build

## netbeans ignores
nb-configuration.xml
nbactions.xml

# passwords
BVB.properties
GBV.properties
HBZ.properties
HEBIS.properties
SWB.properties
KOBV.properties
SWB.properties
ZDB.properties
*/BVB.properties
*/GBV.properties
*/HBZ.properties
*/HEBIS.properties
*/KOBV.properties
*/SWB.properties
*/ZDB.properties
# ISIL codes
DE-576.properties
DE-600.properties
DE-601.properties
DE-602.properties
DE-603.properties
DE-604.properties
DE-605.properties
*/DE-576.properties
*/DE-600.properties
*/DE-601.properties
*/DE-602.properties
*/DE-603.properties
*/DE-604.properties
*/DE-605.properties
