.idea/
.gradle/
*.iml
work/
/data/
logs/
.DS_Store
build/
target/


## eclipse ignores (use 'gradle eclipse' to build eclipse projects)
.project
.classpath
.settings
*/.project
*/.classpath
*/.settings
*/eclipse-build

## netbeans ignores
nb-configuration.xml
nbactions.xml

# passwords
BVB.properties
GBV.properties
HBZ.properties
HEBIS.properties
SWB.properties
KOBV.properties
SWB.properties
ZDB.properties
*/BVB.properties
*/GBV.properties
*/HBZ.properties
*/HEBIS.properties
*/KOBV.properties
*/SWB.properties
*/ZDB.properties
