<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee          http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>xbib bibliographic federator web application</display-name>
    <description>xbib bibliographic federator web application</description>
    <distributable/>
    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>
    <filter>
        <filter-name>RequestCharacterEncodingFilter</filter-name>
        <filter-class>org.xbib.servlet.filter.RequestCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>SanitizeCharacterFilter</filter-name>
        <filter-class>org.xbib.servlet.filter.SanitizeCharacterFilter</filter-class>
        <init-param>
            <param-name>parameternames</param-name>
            <param-value>q</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>compressionFilter</filter-name>
        <filter-class>org.xbib.servlet.filter.CompressionFilter</filter-class>
        <init-param>
            <param-name>compressionThreshold</param-name>
            <param-value>1024</param-value>
            <!-- compress anything above 1kb -->
        </init-param>
        <init-param>
            <param-name>ignoreURLPattern</param-name>
            <param-value>.*\.(flv|mp3|mpg)</param-value>
            <!-- regex -->
        </init-param>
        <init-param>
            <param-name>ignoreMimes</param-name>
            <param-value>images/*,video/*, multipart/x-gzip</param-value>
            <!-- ignore -->
        </init-param>
        <init-param>
            <param-name>ignoreUserAgentsPattern</param-name>
            <param-value>.*MSIE.*</param-value>
            <!-- regex -->
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>RequestCharacterEncodingFilter</filter-name>
        <servlet-name>*</servlet-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>compressionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>DefaultServlet</servlet-name>
        <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>JAX-RS REST</display-name>
        <servlet-name>federator</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
            <param-value>
                 org.xbib.jaxrs.ConnegFilter;
                 com.sun.jersey.api.container.filter.PostReplaceFilter</param-value>
        </init-param>
        <init-param>
            <param-name>application/xhtml+xml</param-name>
            <param-value>xsl/isodis25577-xhtml.xsl</param-value>
        </init-param>
        <init-param>
            <param-name>application/sru+xml</param-name>
            <param-value>xsl/isodis25577-sru-response.xsl</param-value>
        </init-param>
        <init-param>
            <param-name>federator.base</param-name>
            <param-value>tag:fl.hbz-nrw.de,2012-11:federator</param-value>
        </init-param>
        <init-param>
            <param-name>federator.threads</param-name>
            <param-value>25</param-value>
        </init-param>
        <init-param>
            <param-name>federator.stylesheet.path</param-name>
            <param-value>xsl</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>Elasticsearch SRU</description>
        <servlet-name>SRUServlet</servlet-name>
        <servlet-class>org.xbib.sru.service.SRUServlet</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>org.xbib.sru.elasticsearch.ElasticsearchSRUAdapter</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>BVB ISO 23950 Server</description>
        <servlet-name>BVBZServlet</servlet-name>
        <servlet-class>org.xbib.io.iso23950.service.ZServlet</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>BVB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>GBV ISO 23950 Server</description>
        <servlet-name>GBVZServlet</servlet-name>
        <servlet-class>org.xbib.io.iso23950.service.ZServlet</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>GBV</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>HBZ ISO 23950 Server</description>
        <servlet-name>HBZZServlet</servlet-name>
        <servlet-class>org.xbib.io.iso23950.service.ZServlet</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>HBZ</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>HEBIS ISO 23950 Server</description>
        <servlet-name>HEBISZServlet</servlet-name>
        <servlet-class>org.xbib.io.iso23950.service.ZServlet</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>HEBIS</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>KOBV ISO 23950 Server</description>
        <servlet-name>KOBVZServlet</servlet-name>
        <servlet-class>org.xbib.io.iso23950.service.ZServlet</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>KOBV</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>SWB ISO 23950 Server</description>
        <servlet-name>SWBZServlet</servlet-name>
        <servlet-class>org.xbib.io.iso23950.service.ZServlet</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>SWB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>ZDB ISO 23950 Server</description>
        <servlet-name>ZDBZServlet</servlet-name>
        <servlet-class>org.xbib.io.iso23950.service.ZServlet</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>ZDB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>BVB SRU / ISO 23950 Server</description>
        <servlet-name>BVBSRUZServlet</servlet-name>
        <servlet-class>org.xbib.sru.iso23950.service.ZSRUServlet</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>BVB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>GBV SRU / ISO 23950 Server</description>
        <servlet-name>GBVSRUZServlet</servlet-name>
        <servlet-class>org.xbib.sru.iso23950.service.ZSRUServlet</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>GBV</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>HBZ SRU / ISO 23950 Server</description>
        <servlet-name>HBZSRUZServlet</servlet-name>
        <servlet-class>org.xbib.sru.iso23950.service.ZSRUServlet</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>HBZ</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>HEBIS SRU / ISO 23950 Server</description>
        <servlet-name>HEBISSRUZServlet</servlet-name>
        <servlet-class>org.xbib.sru.iso23950.service.ZSRUServlet</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>HEBIS</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>KOBV SRU / ISO 23950 Server</description>
        <servlet-name>KOBVSRUZServlet</servlet-name>
        <servlet-class>org.xbib.sru.iso23950.service.ZSRUServlet</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>KOBV</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>SWB SRU / ISO 23950 Server</description>
        <servlet-name>SWBSRUZServlet</servlet-name>
        <servlet-class>org.xbib.sru.iso23950.service.ZSRUServlet</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>SWB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>ZDB SRU / ISO 23950 Server</description>
        <servlet-name>ZDBSRUZServlet</servlet-name>
        <servlet-class>org.xbib.sru.iso23950.service.ZSRUServlet</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>ZDB</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>DefaultServlet</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>federator</servlet-name>
        <url-pattern>/federator/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRUServlet</servlet-name>
        <url-pattern>/sru/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BVBZServlet</servlet-name>
        <url-pattern>/z/bvb/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GBVZServlet</servlet-name>
        <url-pattern>/z/gbv/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HBZZServlet</servlet-name>
        <url-pattern>/z/hbz/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HEBISZServlet</servlet-name>
        <url-pattern>/z/hebis/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KOBVZServlet</servlet-name>
        <url-pattern>/z/kobv/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SWBZServlet</servlet-name>
        <url-pattern>/z/swb/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZDBZServlet</servlet-name>
        <url-pattern>/z/zdb/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BVBSRUZServlet</servlet-name>
        <url-pattern>/sru/z/bvb/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GBVSRUZServlet</servlet-name>
        <url-pattern>/sru/z/gbv/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HBZSRUZServlet</servlet-name>
        <url-pattern>/sru/z/hbz/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HEBISSRUZServlet</servlet-name>
        <url-pattern>/sru/z/hebis/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KOBVSRUZServlet</servlet-name>
        <url-pattern>/sru/z/kobv/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SWBSRUZServlet</servlet-name>
        <url-pattern>/sru/z/swb/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZDBSRUZServlet</servlet-name>
        <url-pattern>/sru/z/zdb/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jspx</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jspx</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.jspx</location>
    </error-page>
</web-app>
